<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio 9</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form method="post" th:object="${ajedrezDTO}" th:action="@{/ajedrez/tablero}" > <!--th:field"*{nombre}"-->

    <h1>GENERAR TABLERO CON CABALLO ♞ Y ALFIL ♝</h1>
    <br>

    <div>
        <button type="submit">Generar Tablero</button>
    </div>

</form>

<table th:if="${caballoCol}" class="chessboard">
    <tr>
        <!-- Columnas coordenadas  -->
        <th></th>
        <th th:each="c : ${cols}" th:text="${c}"></th>
    </tr>
    <!-- Fila coordenadas  -->
    <tr th:each="r : ${rows}">
        <th th:text="${r}"></th>
        <!-- Columnas  -->
        <td th:each="c : ${cols}"
            th:class="${(r + c) % 2 == 0} ? 'white' : 'black'">

            <!-- Caballo -->
            <span th:if="${r == caballoFila and c == caballoCol}"
                  style="font-size: 30px;">♞</span>

            <!-- Alfil -->
            <span th:if="${r == alfilFila and c == alfilCol}"
                  style="font-size: 30px;">♝</span>

        </td>
    </tr>
</table>

</body>
</html>