<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form method="post" th:object="${conversorDTO}" th:action="@{/conversor}" > <!--th:field"*{nombre}"-->
    <h1>CONVERSOR $ A €</h1>
    <br>
    <div>
        <label for="nombre">Dolares:</label>
        <input type="text" id="nombre" th:field="*{dolares}" required />
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>

<div th:if="${resultado}" class="mensaje">
    <span th:text="${#numbers.formatCurrency(resultado)}"></span>
</div>

</body>
</html>