<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ejercicio 4</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form method="post" th:object="${tablaMultiplicarDTO}" th:action="@{/tablamultiplicar}" > <!--th:field"*{nombre}"-->
    <div>
        <label for="numero">Tabla del :</label>
        <input type="text" id="numero" th:field="*{numero}" required />
    </div>
    <div>
        <button type="submit">Enviar</button>
    </div>
</form>

<div th:if="resultado" class="mensaje">
    <span th:utext="${resultado}"></span>
</div>

</body>
</html>